body{
  margin: 0%;
  padding: 0%;
}
.Nav-image{
  height: 120px;
  width: 100px;
}
.nav-btn{
  background-color: #0aad0a;
  color: white;
  margin: 2px;
  margin-bottom: 5px;
}
.nav-btn:hover{
  background-color: #0aad0a;
  color: white;
}
.Checkout{
  text-align: center;
}
hr{
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}
.btn:hover{
  background-color: #0aad0a;
  color: white;
}

.Slides, .category,.card-container, .Deals, .footerr, .navbar{
  margin: 10px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .card-container{
    margin: 0;
    margin-left: 15px;
  }
}

.Bottom{
  margin: 0%;
}

  /* Slides */
  .Slides{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Slides h1{
    font-size: 2.5rem;
  }
 
  .container1-slides{
    height: 80vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/fruits2.jpg);
    background-size: cover;
    color: white;
    padding: 20px;
    padding-top: 50px;
    border-radius: 15px;
  }
  .container2-slides{
    height: 80vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/fruits3.jpg);
    background-size: cover;
    color: white;
    padding: 20px;
    border-radius: 15px;
    padding-top: 50px;
  }
  .btn1{
    background-color: #0aad0a;
    color: white;
  }
  .slide-span{
color: #0aad0a;
  }

  @media (min-width: 768px) {
    .container1-slides{
      height: 80vh;
      background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/fruits2.jpg);
      background-size:cover;
      background-repeat: no-repeat;
      padding: 20px;
      border-radius: 15px;
      padding-left: 50px;
      padding-top: 150px;
      font-size: 4rem;
    }
    .container2-slides{
      height: 80vh;
      background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/fruits3.jpg);
      background-size: cover;
      border-radius: 15px;
      padding: 20px;
      padding-top: 50px;
      padding-top: 150px;
      font-size: 3.5rem;
    }
  }
  /* Slides end */


  /* category */
.category{
    padding: 10px;
    margin-top: 40px;
    margin-bottom:40px ;
}
.category-row{
  justify-content: center;
  align-items: center;
  text-align: center;
}
  .category1{
    height: 300px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/fruits.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    padding-top: 50px;
    text-align: left;
    margin-bottom: 40px;
    margin-top: 20px;
    border-radius: 20px;
  }

  .category2{
    border-radius: 20px;
    height: 300px;
    text-align: left;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/buns.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    padding-top: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
  }
.category h2{
    font-size: 2rem;
}


@media (min-width: 767px) {
    .category1{
       margin-right: 50px;
      }   
}
  /* category ends */



  /* CARDS */
.card{
    margin-bottom: 30px;
    
}
.nav-card{
  margin: 5px;
}
.btn4{
  margin: 5px;
  background-color: #0aad0a;
    color: white;
}
.card-container h2{
  margin-bottom: 20px;
}
.btn2{
    background-color: #0aad0a;
    color: white;
    margin-left: 180px;
    margin-bottom: 5px;
}
.btn3{
  margin-left: 5px;
  margin-right: 2px;
  
  margin-bottom: 5px;
  background-color: #0aad0a;
    color: white;
}
.btn1:hover, .btn2:hover, .btn3:hover{
  background-color: #0aad0a;
    color: white;
}
.grey{
    color: grey;
}
@media (max-width: 767px) {
  .btn2{
    margin-left: 20px;
} 
}

@media (min-width: 768px) {
  .btn2{
 
    position: absolute;
    left: 0;
  }
}
  /* CARD ENDS */

  /* coffee-container */
 
.coffee-container{
  border-radius: 20px;
    text-align: left;
    height: 500px;
    background-image:linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/cofee1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 20px;
    padding-top: 50px;
    margin-bottom: 40px;
    margin-top: 20px; 
}
.Deals{
  padding: 20px;
}
@media (min-width: 768px) {
 
  .Deals{
    padding-left: 40px;
  }
}
@media (min-width: 768px) {
  .coffee-container{
    margin-right: 100px;
  }
}
  /* coffee-container ENDS */


  /* footer */
.footerr{
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.Bottom{
  background-color: grey;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
  color: white;
}
.footest{
  text-align: center;
  color: white;
}
  /* footer ends */